:root {
  --rosa-claro: #EFD8D5;
  --rosa-medio: #C99A9A;
  --rosa-escuro: #704545; /*704545*/
  --marrom-claro: #A98C84;
  --marrom-escuro: #5e3809c2;
  --bege-neutro: #F6F2EF;
  --azul-escuro: #0200558c;

  --nude-claro: #F4E3D7;
  --nude-medio: #D9B6A3;
  --marrom-palido: #B88E7C;
  --branco-creme: #FDF9F6;
  --branco-leve: #ffffffe6;
  --terracota: #C17B63;
}

strong {
    font-weight: bold
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

*:focus {
    outline: 0
}

html,
body,
#root {
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--branco-creme);
    position: relative;
    align-items: center;
}

body,
input,
button,
textarea {
    font-family: "Montserrat", sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

p {
    font-size: 1.8rem
}

h1 {
    font-size: 4.8rem
}

h2 {
    font-size: 2.4rem
}

h3 {
    font-size: 2.2rem
}

h4 {
    font-size: 2rem
}

h5 {
    font-size: 2.4rem
}

h6 {
    font-size: 1.8rem
}

a {
    text-decoration: none;
    font-size: 1.6rem
}

ul {
    list-style: none
}

ul li {
    font-size: 1.6rem
}

button {
    cursor: pointer
}

.mobileOnly {
    display: none !important
}

@media(orientation: portrait)and (max-width: 700px) {
    .mobileOnly {
        display: flex !important
    }

    .desktopOnly {
        display: none !important
    }
}

@media screen and (max-width: 1201px) {
    p {
        font-size: 1.5rem
    }
}

header {
    height: 7.8rem;
    z-index: 9
}

header .nav {
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    height: 7.8rem;
    justify-content: space-between;
    padding: 0 10rem
}

header .nav .phone {
    display: flex;
    align-items: center
}

header .nav .phone img {
    margin-right: 1rem
}

header .nav p {
    color: var(--branco-creme);
}

header .nav>div {
    display: flex
}

header .nav>div select {
    color: var(--branco-creme);
    border: none;
    border-radius: 1.5rem;
    margin-left: 3rem
}

@media screen and (max-width: 600px) {
    header .nav {
        padding: 0 2rem
    }
}

select[multiple] option {
    white-space: normal;
    background-color: #fff
}

optgroup {
    background-color: var(--rosa-claro);
    border: none
}

optgroup option {
    font-family: "font";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #15527a;
    width: 100px
}

.whatsapp {
    position: fixed;
    z-index: 10;
    bottom: 30px;
    right: 20px;
    filter: drop-shadow(2px 2px 2px var(--rosa-escuro));
}

/* === Botão Rosa === */
.pinkButton {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: var(--rosa-escuro);
  text-decoration: none;
  border: 1px solid var(--rosa-escuro);
  border-radius: 20px;
  padding: 10px 20px;
  transition: .2s;
  width: auto;
}

.pinkButton:hover {
  background-color: var(--rosa-escuro);
  color: var(--nude-claro);
}

@media(max-width: 700px) {
    .pinkButton {
        font-size: 1.6rem;
        padding: 6px 15px
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--rosa-claro);
    padding-top: 7.8rem;
    justify-content: center;    
    align-items: center;
    padding-bottom: 1.8rem;
    width: 100%;
}

footer .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80vw;
    padding: 0 4rem 1.6rem;
    border-bottom: 1px solid var(--rosa-medio)
}

footer .top>img {
    max-width: 40%;
}

footer .top .right p {
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: -0.015em;
    color: var(--rosa-escuro);
}

footer .top .right p+p {
    margin-bottom: 2rem
}

footer .top .right .smaller {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 148%;
    letter-spacing: -0.015em;
    color: var(--rosa-escuro);
}

footer .top .right .social {
    display: flex;
    gap: 3.4rem;
    margin-top: 2.8rem
}

footer a {
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 20px;
    margin-top: 1.7rem;
    text-align: center;
    color: var(--rosa-escuro);
}

@media(max-width: 600px) {
    footer {
        padding-top: 4rem
    }

    footer .top {
        flex-direction: column;
        width: 80vw;
        align-items: center;
        gap: 30px
    }

    footer .top>img {
        margin-top: 0;
        max-width: 100%
    }

    footer .top .social {
        justify-content: center
    }

    footer .top .right {
        text-align: center
    }

    footer .top .right p {
        font-size: 1.4rem
    }

    footer .top .right p+p {
        margin-bottom: 2rem
    }

    footer .top .right .smaller {
        font-size: 1.2rem
    }
}

footer a {
    font-size: 1.4rem;
    margin-top: 1.5rem
}

nav {
    opacity: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    display: flex;
    padding: 4.7rem 10rem;
    flex-wrap: nowrap;
    justify-content: space-between
}

nav .logo {
    width: 30.6rem
}

@media(max-width: 1084px) {
    nav .logo {
        margin-left: 0rem;
        width: 18rem
    }
}

@media(max-width: 770px)and (orientation: landscape) {
    nav .logo {
        margin-left: 16rem
    }
}

@media(max-width: 600px) {
    nav .logo {
        margin-left: 0rem;
        width: 65vw
    }
}

nav .hide {
    display: none
}

nav .mostrar {
    display: inline-flex !important
}

nav ul {
    opacity: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 2.3rem;
    justify-content: right
}

@media screen and (max-width: 700px) {
    nav ul {
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start
    }
}

nav li a {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: block
}

@media(max-width: 48em)and (orientation: landscape) {
    nav li a {
        padding: 5px 20px
    }
}

nav li a:hover,
nav .menu-btn:hover {
    color: #fff
}

nav .menu {
    max-height: 0;
    transition: max-height .2s ease-out
}

nav .menu .menu-icon-inside {
    cursor: pointer;
    float: right;
    padding: 20px 0px;
    position: relative;
    user-select: none;
    margin: 0;
    align-self: flex-end
}

nav .menu .menu-icon-inside .navicon {
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 45px
}

nav .menu .menu-icon-inside .navicon:before,
nav .menu .menu-icon-inside .navicon:after {
    background: #4b5461;
    content: "";
    display: block;
    height: 55%;
    position: absolute;
    transition: all .2s ease-out;
    width: 48%
}

nav .menu .menu-icon-inside .navicon:before {
    top: 10px
}

nav .menu .menu-icon-inside .navicon:after {
    top: -10px
}

nav .menu .menu-icon-inside .navicon:before {
    transform: rotate(-45deg)
}

nav .menu .menu-icon-inside .navicon:after {
    transform: rotate(45deg)
}

nav .menu .menu-icon-inside:not(.steps) .navicon:before,
nav .menu .menu-icon-inside:not(.steps) .navicon:after {
    top: 0
}

nav .menu-icon {
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
    margin: 0
}

nav .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
    background: #fff;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%
}

nav .menu-icon .navicon:before {
    top: 10px
}

nav .menu-icon .navicon:after {
    top: -10px
}

nav .menu-btn {
    display: none
}

nav .menu-btn:checked~.menu {
    max-height: 80vh
}

nav .heer .menu-btn:checked~.menu-icon .navicon {
    background: rgba(0, 0, 0, 0)
}

nav .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg)
}

nav .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg)
}

nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0
}

nav .menuactive {
    font-weight: bold;
    filter: brightness(0.7)
}

@media(min-width: 54em) {
    nav li {
        float: left
    }

    nav .menu {
        clear: none;
        float: right;
        max-height: none
    }

    nav .menu-icon {
        display: none
    }
}

@media(max-width: 600px) {
    nav {
        width: 100%;
        padding: 2rem;
        align-items: center
    }

    nav .menu {
        position: absolute;
        top: 1%;
        right: 0;
        background: #fff;
        padding-right: unset;
        border-radius: 0 0 0 20px
    }

    nav .menu li {
        padding: 0 29px
    }

    nav .menu li:first-of-type {
        padding-top: 50px
    }

    nav .menu li:last-of-type {
        padding-bottom: 25px
    }

    nav .menu li:last-of-type a {
        border-bottom: unset
    }

    nav .menu li a {
        font-size: 1.8rem;
        line-height: 100%;
        color: var(--terracota);
        text-align: left;
        border-bottom: 1px solid #dddddf
    }
}

.whiteHeader {
    background-color: #555 !important
}

.whiteHeader a {
    color: #fff !important
}

.menushadow {
    box-shadow: 0px 14px 21px 0px rgba(103, 122, 141, .19)
}

.banner {
    position: relative;
    height: 100vh
}

.banner img {
    width: 100vw;
    height: 100vh;
    object-fit: cover
}

.banner .content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%)
}

.banner .content h1 {
    width: 46.1rem;
    font-weight: 600;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.015em;
    color: var(--marrom-escuro)
}

.banner .content .option2-h1 {
    color: var(--azul-escuro)
}

.banner .content p {
    width: 34.3rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.015em;
    color: #cb8971
}

.banner .content .option2-p {
    color: var(--branco-leve)
}

@media(max-width: 700px) {
    .banner {
        height: unset
    }

    .banner .mobileOnly {
        display: block;
        width: 100vw;
        height: auto
    }

    .banner .content {
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    .banner .content h1 {
        width: 80vw;
        font-size: 3rem;
        text-align: center;
        margin: 0 auto 1.5rem
    }

    .banner .content p {
        font-size: 2rem;
        text-align: center;
        line-height: 2.2rem;
        color: var(--branco-leve);
    }
}

.humanizacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 14.1rem
}

.humanizacao h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: .3em;
    text-transform: uppercase;
    color: var(--terracota);
    margin-top: 14.5rem;
    margin-bottom: 3.5rem
}

.humanizacao p {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #1d4159;
    width: 75rem;
    margin-bottom: 3.4rem
}

.humanizacao h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #1d4159;
    width: 61.4rem
}

@media(max-width: 700px) {
    .humanizacao {
        margin-bottom: 8rem
    }

    .humanizacao h2 {
        margin-top: 10rem;
        margin-bottom: 1.6rem;
        font-size: 1.4rem
    }

    .humanizacao p {
        font-size: 2rem;
        width: 290px
    }

    .humanizacao h6 {
        font-size: 1.6rem;
        width: 308px
    }
}

.estetica-materna {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    width: 100%;
}

.estetica-materna img {
    width: 62.2rem;
    height: 61.6rem;
    object-fit: cover;
    z-index: 10;
}

.estetica-materna .content {
    background: var(--rosa-claro);
    padding-top: 9.2rem;
    padding-bottom: 10rem;
    flex: 1;
    margin-left: -4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.estetica-materna .content .text {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.estetica-materna .content .text h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: .3em;
    text-transform: uppercase;
    color: var(--terracota)
}

.estetica-materna .content .text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: #1d4159;
    width: 542px
}

.estetica-materna .content .text p b {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #1d4159;
    width: 524px
}

.estetica-materna .content .text .pinkButton {
    width: fit-content
}

@media(max-width: 700px) {
    .estetica-materna {
        flex-direction: column;
        padding-bottom: 0;
    }

    .estetica-materna img {
        width: 80vw;
        height: unset;
        z-index: 1
    }

    .estetica-materna .content {
        width: 100vw;
        margin-left: unset;
        margin-top: -25rem;
        padding-top: 32rem
    }

    .estetica-materna .content .text {
        width: 85vw;
        text-align: center
    }

    .estetica-materna .content .text .pinkButton {
        margin: auto
    }

    .estetica-materna .content .text p {
        width: unset;
        text-align: center;
        font-size: 1.6rem
    }

    .estetica-materna .content .text p b {
        display: block;
        font-size: 2rem;
        text-align: center;
        width: unset
    }
}

@media(min-width: 701px) and (max-width: 1231px) {

    .banner .content p {
        color: var(--branco-leve);
    }

    .estetica-materna img {
        width: 35%;
    }

    .estetica-materna .content{
        z-index: 11;
        padding-left: 3rem;
        width: 65%;
    }
}

.taping {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.taping img {
    width: 62.2rem;
    height: 61.6rem;
    object-fit: cover;
    z-index: 10;
    width: 35%;
}

.taping .content {
    background: var(--rosa-claro);
    padding-top: 9.2rem;
    padding-bottom: 10rem;
    flex: 1;
    margin-left: -4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.taping .content .text {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.taping .content .text h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: .3em;
    text-transform: uppercase;
    color: var(--terracota)
}

.taping .content .text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: #1d4159;
    width: 542px
}

.taping .content .text p b {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #1d4159;
    width: 524px
}

.taping .content .text .pinkButton {
    width: fit-content
}

@media(max-width: 700px) {
    .taping {
        flex-direction: column
    }

    .taping img {
        width: 80vw;
        height: unset;
        z-index: 1
    }

    .taping .content {
        width: 100vw;
        margin-left: unset;
        margin-top: -25rem;
        padding-top: 32rem
    }

    .taping .content .text {
        width: 85vw;
        text-align: center
    }

    .taping .content .text .pinkButton {
        margin: auto
    }

    .taping .content .text p {
        width: unset;
        text-align: center;
        font-size: 1.6rem
    }

    .taping .content .text p b {
        display: block;
        font-size: 2rem;
        text-align: center;
        width: unset
    }
}

@media(min-width: 701px) and (max-width: 1231px) {
    .taping .content{
        z-index: 11;
        padding-left: 3rem;
    }
}

.massagem-modeladora {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.3rem;
    margin-top: 8.3rem;
    margin-bottom: 9.2rem;
}

.massagem-modeladora img {
    width: 449px;
    height: 588px;
    object-fit: cover
}

.massagem-modeladora .content {
    padding-top: 9.2rem;
    padding-bottom: 10.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.massagem-modeladora .content .text {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.massagem-modeladora .content .text h2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: .3em;
    text-transform: uppercase;
    color: var(--terracota)
}

.massagem-modeladora .content .text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: #1d4159;
    width: 449px
}

.massagem-modeladora .content .text .pinkButton {
    width: fit-content
}

@media(max-width: 700px) {
    .massagem-modeladora {
        flex-direction: column;
        margin-top: unset;
        gap: 6rem
    }

    .massagem-modeladora .content {
        text-align: center;
        width: 80vw;
        padding-bottom: unset
    }

    .massagem-modeladora .content .text p {
        font-size: 1.6rem;
        width: unset
    }

    .massagem-modeladora .content .text .pinkButton {
        margin: auto
    }

    .massagem-modeladora img {
        width: 80vw;
        height: unset
    }
}


@media(min-width: 701px) and (max-width: 1231px) {
    .massagem-modeladora .content {
        width: 50%;
        padding-left: 3rem;
    }

    .massagem-modeladora img{
        width: 30%;
    }
}

.familia {
    display: flex;
    background: var(--marrom-claro);
    padding: 5.5rem 8.7rem;
    gap: 4.8rem;
    align-items: center
}

.familia img {
    width: 638px;
    height: 507px;
    object-fit: cover
}

.familia h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: var(--rosa-escuro);
}

.familia p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.015em;
    color: var(--rosa-escuro);
    margin-top: 1.7rem
}

.familia a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0 2rem;
    height: 35px;
    background-color: var(--rosa-escuro);
    border: none;
    border-radius: 30px;
    color: #fff;
    margin-top: 2.2rem;
    margin-bottom: 5.5rem;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--rosa-claro);
}

.familia a img {
    height: auto;
    width: 20px;
    margin-right: 1rem
}

@media(max-width: 700px) {
    .familia {
        flex-direction: column-reverse;
        padding: 7rem 4rem 0
    }

    .familia .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .familia h4 {
        font-size: 1.8rem;
        width: unset;
        text-align: center
    }

    .familia p {
        font-size: 1.5rem;
        width: unset;
        text-align: center
    }

    .familia img {
        width: 100vw;
        height: unset
    }
}